/* 
.html {
  font-size: 16px;
} */

.search-input {
  position: relative;
  padding: 1.4rem 0 0.5rem 0;
  height: 4.5rem;
  width: 40%;
}

.search-input input {
  border: none;
  border-bottom: 2px solid #fff;
  display: block;
  font-size: 1.5rem;
  line-height: 1rem;
  margin: 0;
  padding: 0.5rem 0;
  width: 100%;
  text-align: left;
  background-color: transparent;
  color: #fff;
}

.search-input input:focus {
  outline: none;
}

.search-input label {
  position: absolute;
  left: 0;
  top: 1.625rem;
  width: 100%;
  color: #eee;
  font-size: 1.5rem;
  line-height: 1rem;
  font-weight: normal;
  pointer-events: none;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}

.search-input input:focus ~ label {
  top: 0;
  font-size: 0.75rem;
  color: black;
}

.search-input label.not-empty {
  top: 0;
  font-size: 0.75rem;
}

.search-input span:nth-of-type(3) {
  position: absolute;
  color: #ffff;
  left: 100%;
  top: 1.625rem;
  font-size: 1.5rem;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}

.search-input input:focus ~ span:nth-of-type(3) {
  left: -1.625rem;
  top: 1.625rem;
  color: #fff;
}

.search-input span:nth-of-type(3).not-empty {
  left: -1.625rem !important;
  top: 1.625rem !important;
}

.search-input span:nth-of-type(4) {
  position: absolute;
  color: #fff;
  right: 0;
  top: 1.625rem;
  font-size: 1rem;
  opacity: 0;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}

.search-input input:focus ~ span:nth-of-type(4) {
  color: #fff;
  opacity: 1;
  cursor: pointer;
}

.search-input span:nth-of-type(4).not-empty {
  opacity: 1 !important;
}

.search-input .bar {
  display: block;
  width: 0;
  margin-left: 50%;
  height: 1px;
  background: #fff;
  opacity: 0;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}

.search-input input:focus ~ .bar {
  opacity: 1;
  width: 100%;
  margin-left: 0;
}
